<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Add a New Blog</h1>
    
    <!-- <% if (locals.fullname) { %>
        <h3>Welcome <%= fullname %></h3>
    <% } %> -->
    <div class="container mt-3">
        <form action="/blog/add-new" method="post" enctype="multipart/form-data">
            <div class="form-group mt-2">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Title please" name="title">
            </div>
            <div class="form-group mt-2">
                <label for="exampleFormControlTextarea1">Blog Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body"></textarea>
            </div>
            <div class="form-group mt-2">
              <label for="uploadCoverImage">Upload Cover Image</label>
              <input type="file" class="form-control" id="uploadCoverImage" aria-describedby="uploadCoverImage" placeholder="upload image please" name="coverImageUrl">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </form>
    </div>

    <%- include('./partials/script') %>
    
</body>
</html>